.sections {
  padding: 0em 6.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #504e4e;
}

.starship-body {
  font-family: Arial, Helvetica, sans-serif;
  color: #504e4e;
  padding: 5rem 20rem;
  letter-spacing: 1.5px;
  font-size: large;
  line-height: 1px;
}

.character-image {
  width: 330px;
  height: 350px
}

.search-field {
  width: 100%;
  height: 4rem
}

.sections-hr {
  width: 6rem;
  border: 0.2rem solid #504e4e
}

.recent-hr {
  border: 0.02rem solid #d6d5d5;
  margin-bottom: 3rem
}

.recently-viewed-header {
  border: 0.02rem solid #d6d5d5;
  padding: 10px;
  text-align: center;
  width: 35%;
  margin: auto
}

.planet-image {
  height: 28rem;
  margin-right: 5rem;
  width: 24rem
}

.planet-name {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 700px;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.starship-button {
  border-radius: 0;
  float: right
}

.starship-banner-name {
  margin-left: 10rem;
  margin-top: 25rem;
}

.banner-bracket {
  font-size: 4rem;
  display: inline;
}


.select-gender {
  width: 80px;
  background-color: white;
  color: #504e4e;
  border-radius: 3px;
  padding: 3px;
  border: black solid 2px;
  margin-left: 5px;
}
