.sections {
  padding: 0em 6.5em;
  font-family: sans-serif;
  color: #504e4e
}

.character-image {
  width: 330px;
  height: 350px
}

.sections-hr {
  width: 6rem;
  border: 0.2rem solid #504e4e
}

.planet-image {
  height: 28rem;
  margin-right: 5rem;
  width: 24rem
}

.planet-name {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 700px;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.starship-column {
  margin-bottom: 20px;
}

.starship-button {
  border-radius: 0;
  float: right
}